@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/* * {
  font-family: "Bellefair", serif;
} */

body {
  font-family: "Bellefair", serif;
  color: white;
  background: #0b0d17;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
}

.font-barlowCondensed {
  font-family: "Barlow Condensed", sans-serif;
}

.font-bellefair {
  font-family: "Bellefair", serif;
}

.heading-1 {
  @apply text-[150px] font-bellefair text-white;
}

.heading-2 {
  @apply text-[100px] font-bellefair text-white;
}

.heading-3 {
  @apply text-[56px] font-bellefair text-white;
}

.heading-4 {
  @apply text-[32px] font-bellefair text-white;
}

.heading-5 {
  @apply text-[28px] font-barlowCondensed text-white tracking-[4.75px];
}

.subheading-1 {
  @apply text-[28px] font-bellefair text-white;
}

.subheading-2 {
  @apply text-[14px] font-bellefair text-white tracking-[2.35px];
}

.nav-text {
  @apply font-barlowCondensed text-[16px] tracking-[2.7px];
}

.body-text {
  @apply font-barlow text-white text-[18px];
}
