@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/* * {
  font-family: "Bellefair", serif;
} */

body {
  font-family: "Bellefair", serif;
  color: white;
  background: #0b0d17;
  overflow-x: hidden;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
}

.font-barlowCondensed {
  font-family: "Barlow Condensed", sans-serif;
}

.font-bellefair {
  font-family: "Bellefair", serif;
}

.heading-1 {
  @apply lg:text-[150px] text-[80px] font-bellefair;
}

.heading-2 {
  @apply lg:text-[100px] md:text-[80px] text-[56px] font-bellefair;
}

.heading-3 {
  @apply lg:text-[56px] md:text-[40px] text-[24px] font-bellefair;
}

.heading-4 {
  @apply text-[32px] font-bellefair;
}

.heading-5 {
  @apply font-barlowCondensed lg:text-[28px] md:text-[20px] text-[16px] lg:tracking-[4.75px] md:tracking-[3.38px] tracking-[2.7px];
}

.subheading-1 {
  @apply text-[28px] font-bellefair;
}

.subheading-2 {
  @apply text-[14px] font-bellefair tracking-[2.35px];
}

.nav-text {
  @apply font-barlowCondensed lg:text-[16px] text-[14px]  tracking-[2.7px];
}

.body-text {
  @apply font-barlow lg:text-[18px] md:text-[16px] text-[15px] max-w-[444px] lg:leading-[32px] md:leading-[28px] leading-[25px] ;
}
